*{
    margin: 0;
    padding: 0;
}
#outer{
    background-image: url(Untitled\ design.png);
    height: 240vh;
    background-size: cover;
}
#inner{
    width: 80%;
    background: rgba(255, 255, 255, 0.275);
    backdrop-filter: blur(10px);
    height: 240vh;
    margin-left: 10%;
    border-radius: 20px;
}
.head1{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.head1 img{
    width: 20%;
}
.head1 li{
    list-style: none;
    padding-top: 25px;
    filter: blur(2px);
}
.head1 li:hover{
    transform: scale(1.2);
    filter: blur(0px);
}
.head1 li a{
    text-decoration: none;
    color: #321414;
    font-size: 20px;
}
.head1 button{
    height: 4vh;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 18px;
    background: #15191A;
    color: white;
}
.head2{
    display: flex;
}
.hea1{
    
}
.hea1 h1{
    font-size: 60px;
    padding: 0px 90px;
    padding-top: 50px;
    background: linear-gradient(to right, #321414 0%, #bc1f00 100%);
    color: transparent;
    background-clip: text;
}
.btn{
    padding: 20px 100px;
}
.btn button{
    padding: 8px 40px;
    border-radius: 20px;
    border: none;
    background: #321414;
    box-shadow: 3px 4px 10px #321414;
    color: white;
}
.box{
    display: flex;
    padding: 0px 100px;
}
.box img{
    width: 5%;
    aspect-ratio: 2/2;
    object-fit: contain;
    background: rgba(253, 253, 253, 0.412);
    border-radius: 12px;
    margin-left: 10px;
}
.hea2 img{
    width: 100%;
    margin-top: -28px;
    padding-right: 110px;
}

.head3{
    display: flex;
    margin-left: 20px;
}
.hea3{
    width: 25%;
    height: 36.5vh;
    background: rgba(255, 255, 255, 0.43);
    border-radius: 40px;
}
.hea3 img{
    width: 58%;
    aspect-ratio: 2/2;
    object-fit: contain;
    margin: -90px 70px;
}
.hea3 h1{
    margin-top: 100px;
    margin-left: 10px;
    color: #321414;
}
.hea3 p{
   margin-top: 10px;
   margin-left: 10px;
   color: #321414;
}
.cart{
    margin-left: 40%;
    
}
.hea3 i{
    margin-top: 30px;
    background: #bbafaf4d;
    padding: 5px 5px;
    border-radius: 12px;
    font-size: 20px;
    color: #321414;

}


.hea4{
    width: 25%;
    height: 36.5vh;
    background: rgba(255, 255, 255, 0.43);
    border-radius: 40px;
    margin-left: 20px;
}
.hea4 img{
    width: 60%;
    aspect-ratio: 2/2;
    object-fit: contain;
    margin: -90px 50px;
}
.hea4 h1{
    margin-top: 100px;
    margin-left: 10px;
    color: #321414;
}
.hea4 p{
   margin-top: 10px;
   margin-left: 10px;
}
.hea4 i{
    margin-top: 30px;
    background: #bbafaf4d;
    padding: 5px 5px;
    border-radius: 12px;
    font-size: 20px;
    color: #321414;
}
.bt-btn{
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    margin-left: 40.5%;
    margin-top: 20px;
    background: #321414;
    color: white;
}



.hea5{
    margin: 10px 30px;
}
.hea5 h1{
    font-size: 35px;
    color: #321414;
}
.hea5 p{
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #321414;
}
.hea5 p1{
    font-size: 17px;
    margin-left: 10px;
    color: #321414;

}
.hea5 ul button{
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 20px 10px;
    background: linear-gradient(to right, #321414, #885e2f);
    color: white;
}


.head3{
    display: flex;
    margin-top: 8%;
}
.hea6{
    
}
.hea6 h1{
    font-size: 35px;
    color: #321414;

}
.hea6 p{
    margin-top: 20px;
    color: #321414;

}
button{
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 20px 10px;
    background: linear-gradient(to right, #321414, #885e2f);
    color: white;   
}

.hea7{
    margin-left: 10%;
}
.hea7 img{
    width: 90%;
}

.head4{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.hea8{
    margin-left: 2%;
}
.hea8 p{
    font-size: 20px;
    color: #321414;

}

.hea8 h1{
    font-size: 30px;
    color: #321414;

}
.hea9{
    margin-right: 5%;
}
.bt{
    font-size: 16px;
    padding: 10px 30px;
    background: #321414;
    box-shadow: 3px 4px 10px #321414;
}

.line{
    width: 95%;
    border: 1px solid #321414;
    height: 0px;
    margin-left: 2%;
}
.hea10{
    margin-left: 2%;
}
.hea10 p{
    margin-top: 20px;
    color: #321414;

}

.head6{
    display: flex;
    justify-content: space-evenly;
    margin-top: 6%;
}
.hea11 img{
    width: 50%;
}

.hea12{
    color: #321414;
}
.hea12 p{
    padding: 8px 0;
}
.hea13{
    color: #321414;
}
.hea13 p{
    padding: 8px 0;
}
.hea14{
    color: #321414;
}
.hea14 p{
    padding: 8px 0;
}